We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [13]:
import os
current_dir = os.getcwd()
current_dir

'/Users/jacobambat/dev/Diabetes_DA_project/jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [14]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [15]:
current_dir = os.getcwd()
current_dir

'/Users/jacobambat/dev/Diabetes_DA_project'

In [16]:
os.environ['KAGGLE_CONFIG_DIR'] = os.getcwd()
!chmod 600 kaggle.json

In [17]:
KaggleDatasetPath = "iammustafatz/diabetes-prediction-dataset"
DestinationFolder = "dataset/raw"

In [18]:
print(DestinationFolder)

dataset/raw

In [19]:
! kaggle datasets download -d {KaggleDatasetPath} -p {DestinationFolder}

Dataset URL: https://www.kaggle.com/datasets/iammustafatz/diabetes-prediction-dataset
License(s): copyright-authors

In [21]:
import os
import zipfile
import glob

zip_files = glob.glob(os.path.join(DestinationFolder, "*.zip"))
print(zip_files)

for zip_file in zip_files:
    print('zip_file')
    with zipfile.ZipFile(zip_file, 'r') as zip_ref:
        zip_ref.extractall(DestinationFolder)  # Extract here
    os.remove(zip_file)  # Remove the ZIP file after extraction

print("Extraction complete.")
#read csv file

['dataset/raw/diabetes-prediction-dataset.zip']
zip_file
Extraction complete.

In [22]:
import pandas as pd
df = pd.read_csv(f'{DestinationFolder}/diabetes_prediction_dataset.csv')
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [23]:
#resample the original file to 10000 rows
df_resampled = df.sample(n=10000, random_state=111)
df_resampled

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
92509,Female,61.0,1,1,ever,32.36,5.8,130,0
99094,Male,44.0,0,0,not current,30.49,3.5,130,0
78961,Male,23.0,0,0,never,34.55,6.1,90,0
13302,Male,68.0,1,1,current,27.32,8.8,155,1
67956,Female,24.0,0,0,former,21.63,6.1,126,0
...,...,...,...,...,...,...,...,...,...
6118,Male,67.0,0,0,never,35.95,6.5,160,0
61999,Female,13.0,0,0,never,19.66,3.5,155,0
46327,Male,14.0,0,0,No Info,18.95,6.0,158,0
12414,Male,2.0,0,0,No Info,14.66,6.5,160,0
60072,Male,20.0,0,0,never,33.98,6.5,155,0

In [24]:
#reindex the rows
df_resampled.reset_index(inplace=True)
df_resampled

,index,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,92509,Female,61.0,1,1,ever,32.36,5.8,130,0
1,99094,Male,44.0,0,0,not current,30.49,3.5,130,0
2,78961,Male,23.0,0,0,never,34.55,6.1,90,0
3,13302,Male,68.0,1,1,current,27.32,8.8,155,1
4,67956,Female,24.0,0,0,former,21.63,6.1,126,0
...,...,...,...,...,...,...,...,...,...,...
9995,6118,Male,67.0,0,0,never,35.95,6.5,160,0
9996,61999,Female,13.0,0,0,never,19.66,3.5,155,0
9997,46327,Male,14.0,0,0,No Info,18.95,6.0,158,0
9998,12414,Male,2.0,0,0,No Info,14.66,6.5,160,0
9999,60072,Male,20.0,0,0,never,33.98,6.5,155,0

In [26]:
df_resampled.to_csv(f'dataset/cleaned/datacleanup1.csv')